@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
    --primary-color: #ecd810;
}

* {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

body {
    background: #141301;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    color: var(--primary-color);
}

/* ******************************************************* */
/* ******************************************************* */
.top_sec {
    background: transparent;
    padding: 1rem 0;
}

.nav_ul li {
    padding: 0 1.5rem;
}

.nav_ul {
    padding: 0 8rem;
}

.nav_ul a {
    color: #e9e9e8;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 0.7rem;
}

.nav_a {
    color: #e9e9e8;
    font-weight: 450;
    letter-spacing: 0.5px;
}

/*  */

.nav_ul a:hover {
    color: var(--primary-color);
}

.nav_ul a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 0.11rem;
    top: 80%;
    right: 0%;
}

.nav_ul a::after {
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 1s ease;

}

.nav_ul a:hover::after {
    transform: scale(1, 1);
    transition: transform 1.5s ease;
}

/*  */
.nav_btn1 button {
    padding: 1.1rem 2.6rem;
    border-radius: 8px;
    border: none;
    background: linear-gradient(55deg, #ecd810, #d7bc15);
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0.5px;

}

.nav_btn1 button:hover {
    background: transparent;
    color: #fff;
    transition: 0.8s;
    box-shadow: 2px 2px 1px 2px var(--primary-color);
    border-radius: 0;
}

/* ******************************************************* */
/* ******************************************************* */
.section1 {
    background: #030100;
    color: #fff;
    padding: 12rem 0 4rem 6rem;
    margin-top: -7rem;
}

.s1_2 img {
    width: 100%;
}

.s1_2 img:hover {
    opacity: 0.8;
    transition: 0.4s;
    cursor: no-drop;
}

.s1_1 h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

.s1_p {
    font-size: 1.23rem;
    padding: 1rem 0;
    font-weight: 300;
}

.s1_3_p {
    text-align: center;
}

.s1_4_p {
    text-align: center;
}

.s1_4_p button {
    padding: 1rem 2rem;
    font-size: 1rem;
    background: transparent;
    color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 0.5rem;
}

.s1_4_p button:hover {
    background: var(--primary-color);
    color: #000;
    transition: 0.8s;
    border: 2px solid var(--primary-color);
}

.s1_4_p i {
    font-size: 1.5rem;
    padding: 0 0.4rem;
}

.s1_4 {
    padding: 1.5rem 0;
}

/* ******************************************************* */
/* ******************************************************* */
.section2 {
    background: linear-gradient(180deg, #0d0b01, #1e1c04);
    padding: 4rem 0;
}

.s2_1 i {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.s2_1 i:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 1s;
}

.s2_1 h2 {
    font-size: 1.7rem;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-weight: 800;
}

.s2_1 p {
    color: #e9e9e8;
    font-size: 0.89rem;
    padding: 0.9rem 0;
    font-weight: 300;
}

/* ******************************************************* */
/* ******************************************************* */
.section3 {
    padding: 5rem 0;
}

.m3_img {
    padding: 2rem 1rem 0.5rem 1rem;
    margin: 2rem 1rem;
    color: #fff;
    text-align: center;
    border-image:
        linear-gradient(to left,
            #4c4a3b,
            rgba(0, 0, 0, 0)) 1 10%;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.m3_img p {
    padding: 1rem 2.5rem;
}

.s3_2 {
    margin-top: 4rem;
}

.s3_3 {
    color: #fff;
    padding: 4rem 0;
}

.s3_3 h1 {
    font-size: 2.2rem;
    padding-right: 7rem;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1.5;
}

.s3_main p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 1rem;
    line-height: 1.7;
}

.s3_3 p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 1rem 0;
    padding-right: 3rem;
    line-height: 1.7;
}

.s3_3 button {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.9px;
    align-items: center;
}

.s3_3 i {
    font-size: 1.2rem;
    padding-left: 2rem;
}

.s3_main {
    padding: 0 2rem;
}

/* ******************************************************* */
/* ******************************************************* */
.section4 {
    color: #fff;
    padding: 4rem 2rem;
}

.s4_main {
    align-items: center;
}

.s4_1 h1 {
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.s4_1 p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.s4_3 {
    border: 1px solid gray;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    background-image: url(./images/wooden.png);
    background-size: cover;
}

.s4_3 p {
    color: #dddddd;
    font-size: 0.94rem;
}

.s4_3 i {
    color: #d3d3d3;
    background: #3d3808;
    padding: 0.25rem 1.2rem;
    margin-top: 2rem;
    border-radius: 10px;
}

.s4_3 h3 {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem 0;
}

.s4_pro {
    margin-top: 3rem;
    background: #3c3b2e;
}

.s4_pro1 {
    margin: 0;
    background: #4a4618;
}

/* ******************************************************* */
/* ******************************************************* */
.section5 {
    background-image: url(./images/nwooden.png);
    background-size: cover;
    color: #fff;
    padding: 5rem 0;
    border: 1px solid gray;
    margin: 7rem 0;
    border-radius: 8px;
}

.s5_1 {
    border: 1px solid #646354;
    background: #1e1e1e;
    border-radius: 8px;
    padding: 1rem 1.2rem;
    margin: 0.5rem 0;
}

.s5_1 p {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

/*  */
.s5_all {
    padding-bottom: 3rem;
}

.s5_3 h1 {
    font-size: 5.2rem;
    letter-spacing: 3.5px;
    opacity: 0.2;
    font-family: 'Poppins', sans-serif;
}

.s5_2 {
    padding-top: 1.1rem;
    margin-right: -18rem;
    margin-left: 18rem;
}

.s5_2 h3 {
    font-weight: 700;
    letter-spacing: 2px;
}

.m5_p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

/* ******************************************************* */
/* ******************************************************* */
.section6 {
    padding: 3rem 0 8rem 0;
}

.s6_1 {
    color: #fff;
}

.s6_1 p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.s6_1 h1 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.s6_3 {
    align-items: baseline;
}

.s6_3 a {
    border-bottom: 2px solid;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.s6_3 i {
    font-size: 1.15rem;
    color: var(--primary-color);
}

/*  */
.s6_2_p1 {
    text-align: center;
}

.s6_2 button:hover {
    background: transparent;
    color: var(--primary-color);
    transition: 0.8s;
    border: 2px solid #fff;
}

.s6_2 i:hover {
    color: var(--primary-color);
    transition: 0.8s;
}

.s6_2_p1 button {
    padding: 1.2rem 4.5rem;
    font-size: 1.1rem;
    margin: 0.7rem 0;
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

.s6_2_p2 button {
    padding: 1.2rem 5.3rem;
    font-size: 1.1rem;
    margin: 0.7rem 0;
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.s6_2_p {
    text-align: center;
}

.s6_2_p2 i {
    padding: 0 0.5rem;
    font-size: 1.35rem;
    color: #fff;
}

.s6_2_p2 {
    text-align: center;
}

.m6_lb {
    padding: 1.2rem 3.9rem;
    font-size: 1.1rem;
    margin: 0.7rem 0;
    background: var(--primary-color);
    font-weight: 500;
    border: none;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.s6_2_p1 i {
    padding: 0 0.5rem;
    font-size: 1.35rem;
    color: #fff;
}

/* ******************************************************* */
/* ******************************************************* */
.section7 {
    padding: 1.4rem 0;
    border-top: 1px solid #83827e;
    background: #0d0b00;
}

.f_2 ul {
    margin-right: 12rem;
    display: flex;
}

.f_2 a {
    color: #fff;
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 0.7rem;
}

/*  */
.f_2 a:hover {
    color: var(--primary-color) !important;
}

.f_2 ul a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 0.11rem;
    top: 80%;
    right: 0%;
}

.f_2 ul a::after {
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 1s ease;

}

.f_2 ul a:hover::after {
    transform: scale(1, 1);
    transition: transform 2s ease;
}

/*  */
.f_3 i {
    font-size: 1.4rem;
    margin: 0 0.3rem;
    color: #83827e;
}

.f_3 p {
    margin-bottom: 0;
    font-size: 1.05rem;
    font-weight: 400;
    color: #83827e;
}

/* ******************************************************* */
/* ******************************************************* */
.navbar-dark .navbar-toggler {
    color: #141301;
    border-color: rgba(255, 255, 255, .1);
}

/* ********************** Media Queries Start  ********************************* */
@media only screen and (min-width:320px) and (max-width:476px) {

    * {
        margin: 0;
    }

    .nav_ul {
        padding: 1rem 0rem;
    }

    .nav_ul li {
        padding: 0.3rem 1.5rem;
    }

    .nav_btn1 button {
        padding: 0.8rem 1.6rem;
        font-size: 0.9rem;
    }

    .top_sec span {
        font-size: 1rem;
    }

    .top_sec {
        padding: 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */

    .section1 {
        padding: 4rem 0;
        margin-top: 0;
    }

    .s1_1 h1 {
        font-size: 2.2rem;
    }

    .s1_p {
        font-size: 1.1rem;
    }

    .s1_4 {
        text-align: center;
        padding: 3rem 0 2rem 0;
    }

    .s1_4_p button {
        font-size: 0.9rem;
    }

    .s1_4_p i {
        font-size: 1.2rem;
        padding: 0 0.5rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section3 {
        padding: 5rem 0;
    }

    .s3_main {
        padding: 0 0rem;
    }

    .m3_img {
        padding: 1rem 0rem 0.5rem 0rem;
        margin: 1rem 0.5rem;
    }

    .s3_main p {
        font-size: 0.8rem;
        padding: 1rem 2rem;

    }

    .s3_3 h1 {
        font-size: 1.8rem;
        padding-right: 2rem;
    }

    .s3_3 p {
        padding-right: 1rem;
    }

    .s3_3 {
        padding: 4rem 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section4 {
        padding: 4rem 1rem;
    }

    .s4_3 {
        margin: 1rem 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s5_3 h1 {
        font-size: 2.7rem;
        margin-top: -5rem;
    }

    .s5_2 {
        margin-right: 0;
        margin-left: 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section6 {
        padding: 0rem 0 5rem 0;
    }

    .s6_3 {
        padding: 0.5rem 0;
    }

    .s6_1 {
        padding: 2rem 1rem;
    }

    .s6_2 {
        padding: 2rem 0;
    }

    .s6_2_p1 button {
        padding: 1.2rem 3.5rem;
    }

    .s6_2_p2 button {
        padding: 1.2rem 4rem;
    }

    .m6_lb {
        padding: 1.2rem 2.9rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .f_2 ul {
        margin-right: 0;
        display: block;
    }

    .f_2 li {
        padding: 0.5rem 0;
    }

    .f_3 {
        padding: 2rem 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
}
/* ******************************************************* */
@media only screen and (min-width:477px) and (max-width:600px) {

    * {
        margin: 0;
    }

    .nav_ul {
        padding: 1rem 0rem;
    }

    .nav_ul li {
        padding: 0.3rem 1.5rem;
    }

    .nav_btn1 button {
        padding: 0.8rem 1.6rem;
        font-size: 0.9rem;
    }

    .top_sec span {
        font-size: 1rem;
    }

    .top_sec {
        padding: 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */

    .section1 {
        padding: 4rem;
        margin-top: 0;
    }

    .s1_1 h1 {
        font-size: 2.2rem;
    }

    .s1_p {
        font-size: 1.1rem;
    }

    .s1_4 {
        text-align: center;
        padding: 3rem 0 2rem 0;
    }

    .s1_4_p button {
        font-size: 0.9rem;
    }

    .s1_4_p i {
        font-size: 1.2rem;
        padding: 0 0.5rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section3 {
        padding: 3rem 0;
    }

    .s3_main {
        padding: 0 0rem;
    }

    .m3_img {
        padding: 1rem 0rem 0.5rem 0rem;
        margin: 1rem 0.5rem;
    }

    .s3_main p {
        font-size: 0.8rem;
        padding: 1rem 2rem;

    }

    .s3_3 h1 {
        font-size: 1.8rem;
        padding-right: 2rem;
    }

    .s3_3 p {
        padding-right: 1rem;
    }

    .s3_3 {
        padding: 4rem 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section4 {
        padding: 4rem 6rem;
    }

    .s4_3 {
        margin: 1rem 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s5_3 h1 {
        font-size: 2.7rem;
        margin-top: -5rem;
    }

    .s5_2 {
        margin-right: 0;
        margin-left: 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section6 {
        padding: 0rem 0 5rem 0;
    }

    .s6_3 {
        padding: 0.5rem 0;
    }

    .s6_1 {
        padding: 2rem 1rem;
    }

    .s6_2 {
        padding: 2rem 1rem;
    }

    .s6_2_p2 {
        text-align: inherit;
    }

    .s6_2_p {
        text-align: inherit;
    }

    .s6_2_p1 {
        text-align: inherit;
    }

    .s6_2_p1 button {
        padding: 1.2rem 3.5rem;
    }

    .s6_2_p2 button {
        padding: 1.2rem 4rem;
    }

    .m6_lb {
        padding: 1.2rem 2.9rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .f_2 ul {
        margin-right: 0;
        display: block;
    }

    .f_2 li {
        padding: 0.5rem 0;
    }

    .f_3 {
        padding: 2rem 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
    /* ******************************************************* */
}
/* ******************************************************* */
@media only screen and (min-width:601px) and (max-width:767px) {

    * {
        margin: 0;
    }

    .nav_ul {
        padding: 1rem 0rem;
    }

    .nav_ul li {
        padding: 0.3rem 1.5rem;
    }

    .nav_btn1 button {
        padding: 0.8rem 1.6rem;
        font-size: 0.9rem;
    }

    .top_sec span {
        font-size: 1rem;
    }

    .top_sec {
        padding: 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */

    .section1 {
        padding: 4rem;
        margin-top: 0;
    }

    .s1_1 h1 {
        font-size: 2.2rem;
    }

    .s1_p {
        font-size: 1.1rem;
    }

    .s1_4 {
        text-align: center;
        padding: 3rem 0 2rem 0;
    }

    .s1_4_p button {
        font-size: 0.9rem;
    }

    .s1_4_p i {
        font-size: 1.2rem;
        padding: 0 0.5rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section3 {
        padding: 3rem 0;
    }

    .s3_main {
        padding: 0 0rem;
    }

    .m3_img {
        padding: 1rem 0rem 0.5rem 0rem;
        margin: 1rem 0.5rem;
    }

    .s3_main p {
        font-size: 0.8rem;
        padding: 1rem 2rem;

    }

    .s3_3 h1 {
        font-size: 1.8rem;
        padding-right: 2rem;
    }

    .s3_3 p {
        padding-right: 1rem;
    }

    .s3_3 {
        padding: 4rem 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section4 {
        padding: 4rem 6rem;
    }

    .s4_3 {
        margin: 1rem 0;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s5_3 h1 {
        font-size: 2.7rem;
        margin-top: -5rem;
    }

    .s5_2 {
        margin-right: 0;
        margin-left: 1rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section6 {
        padding: 0rem 0 5rem 0;
    }

    .s6_3 {
        padding: 0.5rem 0;
    }

    .s6_1 {
        padding: 2rem 1rem;
    }

    .s6_2 {
        padding: 2rem 1rem;
    }

    .s6_2_p2 {
        text-align: inherit;
    }

    .s6_2_p {
        text-align: inherit;
    }

    .s6_2_p1 {
        text-align: inherit;
    }

    .s6_2_p1 button {
        padding: 1.2rem 3.5rem;
    }

    .s6_2_p2 button {
        padding: 1.2rem 4rem;
    }

    .m6_lb {
        padding: 1.2rem 2.9rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .f_2 ul {
        margin-right: 0;
        display: block;
    }

    .f_2 li {
        padding: 0.5rem 0;
    }

    .f_3 {
        padding: 2rem 0;
    }

    /*  */
}
/* ******************************************************* */
@media only screen and (min-width:768px) and (max-width:991px) {
    p {
        font-size: 0.9rem !important;
    }

    * {
        margin: 0;
    }

    .nav_ul {
        padding: 1rem 0rem;
    }

    .nav_ul li {
        padding: 0.3rem 1.5rem;
    }

    .nav_btn1 button {
        padding: 0.8rem 1.6rem;
        font-size: 0.9rem;
    }

    .top_sec span {
        font-size: 1rem;
    }

    .top_sec {
        padding: 0;
    }

    .nav_main {
        padding-bottom: 2rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section1 {
        padding: 4rem 0 4rem 1rem;
        margin-top: 0;
    }

    .s1_1 h1 {
        font-size: 2.5rem;
    }

    .s1_main {
        align-items: start !important;
    }

    .s1_p {
        font-size: 1.1rem;
        padding: 0.5rem 0;
    }

    .s1_3_p {
        text-align: center;
        margin: 0 1.2rem;
    }

    .s1_4 {
        text-align: center;
    }

    .s1_4_p button {
        padding: 0.6rem 0.7rem;
        font-size: 0.9rem;
        margin: 0;
    }

    .s1_4_p i {
        font-size: 0.8rem;
        padding: 0 0.3rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s2_1 {
        margin: 0 1rem;
    }

    .s2_2 {
        width: 7%;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s3_main {
        padding: 0;
    }

    .s3_3 h1 {
        font-size: 1.8rem;
        padding-right: 2rem;
    }

    .s3_3 p {
        font-size: 1rem;
        padding-right: 0rem;
    }

    .s3_main p {
        font-size: 1rem;
        padding: 1rem 0.5rem;
    }

    .m3_img {
        padding: 1rem;
    }

    .s3_3 {
        padding: 0rem 1rem;
    }

    .section4 {
        padding: 4rem 1rem;
    }

    .s4_3 {
        padding: 0rem 0.5rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .section4 {
        padding: 4rem 1rem;
    }

    .s4_3 {
        padding: 1rem 0.5rem;
    }

    .s4_3 i {
        margin-top: 0;
    }

    .s4_3 h3 {
        font-size: 1.2rem;
    }

    .s4_1 h1 {
        font-size: 1.8rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s5_1 p {
        font-size: 0.9rem;
    }

    .s5_2 {
        padding-top: 1.1rem;
        margin-right: -11rem;
        margin-left: 7rem;
    }

    .s5_3 h1 {
        font-size: 4.2rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .s6_3 a {
        font-size: 0.9rem;
        margin-left: 0.6rem;
    }

    .s6_2_p1 button {
        padding: 0.9rem 1.5rem;
        font-size: 1rem;
    }

    .s6_2_p2 button {
        padding: 0.9rem 2.4rem;
        font-size: 1rem;
    }

    .m6_lb {
        padding: 1rem 1.25rem;
        font-size: 0.9rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
    .f_2 ul {
        margin-right: 0rem;
    }

    .f_2 a {
        font-size: 0.8rem;
    }

    .f_2 li {
        padding: 0 0.8rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */

}
/* ******************************************************* */
/* ******************************************************* */
@media only screen and (min-width:992px) and (max-width:1200px) {

    .nav_ul {
        padding: 0 3rem;
    }

    /* ******************************************************* */
    .section1 {
        padding: 12rem 0 4rem 3rem;
    }

    .s1_1 h1 {
        font-size: 3rem;
    }

    .s1_4_p button {
        padding: 1rem 1.8rem;
        margin: 0;
    }

    .s1_4_p i {
        font-size: 1.2rem;
        padding: 0 0.2rem;
    }

    /* ******************************************************* */
    .s4_3 {
        padding: 1rem;
    }

    .s4_1 h1 {
        font-size: 2rem;
    }

    /* ******************************************************* */
    .s5_3 h1 {
        font-size: 4.2rem;

    }

    .s5_2 {
        padding-top: 1rem;
        margin-right: -16rem;
        margin-left: 12rem;
    }

    .m5_p {
        font-size: 0.95rem;
    }

    .s5_1 p {
        font-size: 1rem;
    }

    /* ******************************************************* */
    .s6_3 a {
        font-size: 0.9rem;
        margin-left: 0.6rem;
    }

    .s6_3 i {
        font-size: 1rem;
    }

    .s6_2_p1 button {
        padding: 1.1rem 3rem;
    }

    .s6_2_p2 button {
        padding: 1.1rem 3.9rem;
    }

    .m6_lb {
        padding: 1.1rem 2.65rem;
        font-size: 1rem;
    }

    .s6_1 p {
        font-size: 1rem;
        padding-right: 3rem;
    }

    /* ******************************************************* */
    .f_2 ul {
        margin-right: 6rem;
    }

    .f_3 i {
        font-size: 1.3rem;
    }

    /* ******************************************************* */
    /* ******************************************************* */
}
/* ************************* Media Queries End ****************************** */